<p id="notice"><%= notice %></p>
<p>
  <strong>Title:</strong>
  <%= @news.title %>
</p>

<p>
  <strong>Lead:</strong>
  <%= @news.lead %>
</p>

<p>
  <strong>Body:</strong>
  <%= @news.body %>
</p>

<p>
  <strong>Link:</strong>
  <%= @news.link %>
</p>

<h2>Comments</h2>
<% @news.comments.each do |comment| %>
  <p>
    <strong>Commenter:</strong>
    <%= comment.commenter %>
  </p>
 
  <p>
    <strong>Comment:</strong>
    <%= comment.body %>
  </p>
<% end %>

<h2>Add a comment:</h2>
<%= form_for([@news, @news.comments.build]) do |f| %>
  <p>
    <%= f.label :commenter %><br>
    <%= f.text_field :commenter %>
  </p>
  <p>
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= link_to 'Edit', edit_news_path(@news) %> |
<%= link_to 'Back', news_index_path %>
